.profile__info_job-details{
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;  
}

@media screen and (max-width:1100px){
    
}

@media screen and (max-width:780px){
  .profile__info_job-details{
    width: 280px;
    height: 14px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}

@media screen and (max-width:350px){
    .profile__info_job-details{
      width: 280px;
      height: 14px;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
    }
    
}
