@import url('./__avatar/profile__avatar.css');
@import url('./__info/profile__info.css');
@import url('./__name/profile__name.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__About-Me/profile__About-Me.css');
@import url('./__add-button/profile__add-button.css');

.profile{
    width: 882px;
    margin:40px auto auto auto;
    display:flex;
}


@media screen and (max-width:780px){
  .profile {
    width: 600px;
    flex-direction: column;
    margin:38px auto 36px auto;
}
}

@media screen and (max-width:350px){
  .profile {
    width: 282px;
    margin:42px auto 36px auto;
  } 
    
}