.profile__info_bio {
  width: 428px;
  display: flex;
}

@media screen and (max-width:1100px){
    
}

@media screen and (max-width:780px){
  .profile__info_bio {
    width:780px;
    justify-content: center;
  } 
}

@media screen and (max-width:350px){
  .profile__info_bio {
    width:320px;
    justify-content: center;
  }
    
}