@import url('./__vector/header__vector.css');

.header{
    max-width: 882px;
    height: 74px;
    margin: 45px auto auto auto;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width:1100px){
    
}

@media screen and (max-width:780px){
    .header{
        width: 600px;
        height: 74px;
        margin: 30px auto auto auto;
}

@media screen and (max-width:350px){
    .header{
        width: 320px;
        height: 74px;
        margin: 28px auto auto auto;
    }
}
