@import url('./__vector/header__vector.css');

.header{
    max-width: 882px;
    min-height: 74px;
    margin: 45px auto auto auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width:780px){
    .header{
        width: 600px;
        margin: 30px auto auto auto;
    }
}

@media screen and (max-width:350px){
    .header{
        width: 320px;
        margin: 28px auto auto auto;
    }
}
