.popup__error_visible{
        width: 358px;
        margin:0px auto auto auto;
        font-size:12px;
        color:rgb(255,0,0);
        line-height:14.5px;
}
    


@media screen and (max-width: 350px) {
    .popup__error_visible{
      max-width: 210px;
    }
  }