.popup__close-button {
    color:white;
    cursor: pointer;
    font-size: 50px;
    line-height: 41px;
    width: 41px;
    height: 41px;
    text-align: center;
    margin-left:30%;
    padding:0px;
    background-color:transparent;
    border-style:none;
}

.popup__close-button:hover {
    opacity: .6; 
  
  }
  @media screen and (max-width: 350px)
  {
    .popup__close-button {
      margin-left: 30%;      
    }
  }