.popup__field-name{
    width: 358px;
    height: 27.26px;
    border: none;
    border-bottom: 1px solid #000000;
    margin:30px auto auto auto;
}

@media screen and (max-width: 350px) {
    .popup__field-name {
      max-width: 210px;
    }
  }