@import url('../element/__image/element__image.css');
@import url('./__description/element__description.css');
@import url('./__text/element__text.css');
@import url('./__like-button/element__like-button.css');
@import url('./__delete-button/element__delete-button.css');

.element{
    width: 282px;
    border-radius:10px;
    margin-bottom: 20px;
    background-color:white;
}



